<a href="https://colab.research.google.com/github/pteryuu/JPT-News/blob/main/tf_idf_generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Access permission dataset melalui google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df=pd.read_excel("/content/drive/MyDrive/skripsi/data/testing/tf-idf testing.xlsx")

In [6]:
from pprint import pprint

list_example = df['normalisasi']
list_example_term=[str(document).lower().split() for document in df['normalisasi']]
print('tokenized term:')
pprint(list_example_term)

tokenized term:
[['ayo',
  'tolak',
  'proyek',
  'ikn',
  'buka',
  'peluang',
  'oligarki',
  'main',
  'curang',
  'curang',
  'nya',
  'tolak',
  'uu',
  'ikn'],
 ['kamu', 'waras', 'pindah', 'kota', 'ayo', 'tolak', 'tolak', 'uu', 'ikn'],
 ['alas',
  'masyarakat',
  'aras',
  'pindah',
  'kota',
  'negara',
  'satu',
  'nusantara',
  'jaya']]

In [7]:
example_n=len(list_example)
print('n:')
print(example_n)

n:
3

In [8]:
from collections import Counter
from pprint import pprint

example_n=len(list_example)
print('n:')
print(example_n)
print()
list_example_term_t=[str(document).lower().split() for document in list_example]
print('tokenized term (t):')
pprint(list_example_term_t)
print()
list_example_term_tc =[list(Counter(document).items()) for document in list_example_term_t]
print('term count (tc):')
pprint(list_example_term_tc)
print()
list_example_term_tt =[sum([term[1]  for term in document]) for document in list_example_term_tc]
print('total term (tt):')
pprint(list_example_term_tt)
print()
counter_example_term_df =Counter([term[0] for document in list_example_term_tc for term in document])
print('document frequency (df):')
pprint(list(counter_example_term_df.items()))
print()

n:
3

tokenized term (t):
[['ayo',
  'tolak',
  'proyek',
  'ikn',
  'buka',
  'peluang',
  'oligarki',
  'main',
  'curang',
  'curang',
  'nya',
  'tolak',
  'uu',
  'ikn'],
 ['kamu', 'waras', 'pindah', 'kota', 'ayo', 'tolak', 'tolak', 'uu', 'ikn'],
 ['alas',
  'masyarakat',
  'aras',
  'pindah',
  'kota',
  'negara',
  'satu',
  'nusantara',
  'jaya']]

term count (tc):
[[('ayo', 1),
  ('tolak', 2),
  ('proyek', 1),
  ('ikn', 2),
  ('buka', 1),
  ('peluang', 1),
  ('oligarki', 1),
  ('main', 1),
  ('curang', 2),
  ('nya', 1),
  ('uu', 1)],
 [('kamu', 1),
  ('waras', 1),
  ('pindah', 1),
  ('kota', 1),
  ('ayo', 1),
  ('tolak', 2),
  ('uu', 1),
  ('ikn', 1)],
 [('alas', 1),
  ('masyarakat', 1),
  ('aras', 1),
  ('pindah', 1),
  ('kota', 1),
  ('negara', 1),
  ('satu', 1),
  ('nusantara', 1),
  ('jaya', 1)]]

total term (tt):
[14, 9, 9]

document frequency (df):
[('ayo', 2),
 ('tolak', 2),
 ('proyek', 1),
 ('ikn', 2),
 ('buka', 1),
 ('peluang', 1),
 ('oligarki', 1),
 ('main', 1),
 ('curang', 1),
 ('nya', 1),
 ('uu', 2),
 ('kamu', 1),
 ('waras', 1),
 ('pindah', 2),
 ('kota', 2),
 ('alas', 1),
 ('masyarakat', 1),
 ('aras', 1),
 ('negara', 1),
 ('satu', 1),
 ('nusantara', 1),
 ('jaya', 1)]

In [9]:
import numpy as np

def calculate_example_tfidf(indx,t,tc,tt,n,df):
  tf=tc/tt
  idf=np.log10((n)/(df))
  tfidf=tf*idf
  return [indx,t,tc,tt,tf,df,idf,tfidf]

for indx,document in enumerate(list_example_term_tc):
  for t,tc in document:
    print(calculate_example_tfidf(indx
                                  ,t
                                  ,tc
                                  ,list_example_term_tt[indx]
                                  ,example_n
                                  ,counter_example_term_df[t]))

[0, 'ayo', 1, 14, 0.07142857142857142, 2, 0.17609125905568124, 0.012577947075405802]
[0, 'tolak', 2, 14, 0.14285714285714285, 2, 0.17609125905568124, 0.025155894150811604]
[0, 'proyek', 1, 14, 0.07142857142857142, 1, 0.47712125471966244, 0.03408008962283303]
[0, 'ikn', 2, 14, 0.14285714285714285, 2, 0.17609125905568124, 0.025155894150811604]
[0, 'buka', 1, 14, 0.07142857142857142, 1, 0.47712125471966244, 0.03408008962283303]
[0, 'peluang', 1, 14, 0.07142857142857142, 1, 0.47712125471966244, 0.03408008962283303]
[0, 'oligarki', 1, 14, 0.07142857142857142, 1, 0.47712125471966244, 0.03408008962283303]
[0, 'main', 1, 14, 0.07142857142857142, 1, 0.47712125471966244, 0.03408008962283303]
[0, 'curang', 2, 14, 0.14285714285714285, 1, 0.47712125471966244, 0.06816017924566606]
[0, 'nya', 1, 14, 0.07142857142857142, 1, 0.47712125471966244, 0.03408008962283303]
[0, 'uu', 1, 14, 0.07142857142857142, 2, 0.17609125905568124, 0.012577947075405802]
[1, 'kamu', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[1, 'waras', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[1, 'pindah', 1, 9, 0.1111111111111111, 2, 0.17609125905568124, 0.01956569545063125]
[1, 'kota', 1, 9, 0.1111111111111111, 2, 0.17609125905568124, 0.01956569545063125]
[1, 'ayo', 1, 9, 0.1111111111111111, 2, 0.17609125905568124, 0.01956569545063125]
[1, 'tolak', 2, 9, 0.2222222222222222, 2, 0.17609125905568124, 0.0391313909012625]
[1, 'uu', 1, 9, 0.1111111111111111, 2, 0.17609125905568124, 0.01956569545063125]
[1, 'ikn', 1, 9, 0.1111111111111111, 2, 0.17609125905568124, 0.01956569545063125]
[2, 'alas', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[2, 'masyarakat', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[2, 'aras', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[2, 'pindah', 1, 9, 0.1111111111111111, 2, 0.17609125905568124, 0.01956569545063125]
[2, 'kota', 1, 9, 0.1111111111111111, 2, 0.17609125905568124, 0.01956569545063125]
[2, 'negara', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[2, 'satu', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[2, 'nusantara', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]
[2, 'jaya', 1, 9, 0.1111111111111111, 1, 0.47712125471966244, 0.05301347274662915]

In [10]:
#IDF calculation using log n
import numpy as np

def calculate_example_tfidf(di,t,tc,tt,n,df):
  tf=tc/tt
  idf=np.log((n)/(df))
  tfidf=tf*idf
  return [di,t,tc,tt,tf,n,df,idf,tfidf]

for di,document in enumerate(list_example_term_tc):
  for t,tc in document:
    print(calculate_example_tfidf(di
                                  ,t
                                  ,tc
                                  ,list_example_term_tt[di]
                                  ,example_n
                                  ,counter_example_term_df[t]))

[0, 'ayo', 1, 14, 0.07142857142857142, 3, 2, 0.4054651081081644, 0.028961793436297456]
[0, 'tolak', 2, 14, 0.14285714285714285, 3, 2, 0.4054651081081644, 0.05792358687259491]
[0, 'proyek', 1, 14, 0.07142857142857142, 3, 1, 1.0986122886681098, 0.07847230633343641]
[0, 'ikn', 2, 14, 0.14285714285714285, 3, 2, 0.4054651081081644, 0.05792358687259491]
[0, 'buka', 1, 14, 0.07142857142857142, 3, 1, 1.0986122886681098, 0.07847230633343641]
[0, 'peluang', 1, 14, 0.07142857142857142, 3, 1, 1.0986122886681098, 0.07847230633343641]
[0, 'oligarki', 1, 14, 0.07142857142857142, 3, 1, 1.0986122886681098, 0.07847230633343641]
[0, 'main', 1, 14, 0.07142857142857142, 3, 1, 1.0986122886681098, 0.07847230633343641]
[0, 'curang', 2, 14, 0.14285714285714285, 3, 1, 1.0986122886681098, 0.15694461266687282]
[0, 'nya', 1, 14, 0.07142857142857142, 3, 1, 1.0986122886681098, 0.07847230633343641]
[0, 'uu', 1, 14, 0.07142857142857142, 3, 2, 0.4054651081081644, 0.028961793436297456]
[1, 'kamu', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[1, 'waras', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[1, 'pindah', 1, 9, 0.1111111111111111, 3, 2, 0.4054651081081644, 0.04505167867868493]
[1, 'kota', 1, 9, 0.1111111111111111, 3, 2, 0.4054651081081644, 0.04505167867868493]
[1, 'ayo', 1, 9, 0.1111111111111111, 3, 2, 0.4054651081081644, 0.04505167867868493]
[1, 'tolak', 2, 9, 0.2222222222222222, 3, 2, 0.4054651081081644, 0.09010335735736986]
[1, 'uu', 1, 9, 0.1111111111111111, 3, 2, 0.4054651081081644, 0.04505167867868493]
[1, 'ikn', 1, 9, 0.1111111111111111, 3, 2, 0.4054651081081644, 0.04505167867868493]
[2, 'alas', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[2, 'masyarakat', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[2, 'aras', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[2, 'pindah', 1, 9, 0.1111111111111111, 3, 2, 0.4054651081081644, 0.04505167867868493]
[2, 'kota', 1, 9, 0.1111111111111111, 3, 2, 0.4054651081081644, 0.04505167867868493]
[2, 'negara', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[2, 'satu', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[2, 'nusantara', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]
[2, 'jaya', 1, 9, 0.1111111111111111, 3, 1, 1.0986122886681098, 0.12206803207423442]

In [11]:
# IDF Calculation using sklearn approach

import numpy as np

def calculate_example_tfidf_adjusted(di,t,tc,tt,n,df):
  list_result=[]
  tf=tc/tt
  idf=np.log((1+n)/(1+df)) +1
  tfidf=tf*idf
  return [di,t,tc,tt,tf,n,df,idf,tfidf]

for di,document in enumerate(list_example_term_tc):
  for t,tc in document:
    print(calculate_example_tfidf_adjusted(di
                                           ,t
                                           ,tc
                                           ,list_example_term_tt[di]
                                           ,example_n
                                           ,counter_example_term_df[t]))

[0, 'ayo', 1, 14, 0.07142857142857142, 3, 2, 1.2876820724517808, 0.09197729088941291]
[0, 'tolak', 2, 14, 0.14285714285714285, 3, 2, 1.2876820724517808, 0.18395458177882582]
[0, 'proyek', 1, 14, 0.07142857142857142, 3, 1, 1.6931471805599454, 0.12093908432571038]
[0, 'ikn', 2, 14, 0.14285714285714285, 3, 2, 1.2876820724517808, 0.18395458177882582]
[0, 'buka', 1, 14, 0.07142857142857142, 3, 1, 1.6931471805599454, 0.12093908432571038]
[0, 'peluang', 1, 14, 0.07142857142857142, 3, 1, 1.6931471805599454, 0.12093908432571038]
[0, 'oligarki', 1, 14, 0.07142857142857142, 3, 1, 1.6931471805599454, 0.12093908432571038]
[0, 'main', 1, 14, 0.07142857142857142, 3, 1, 1.6931471805599454, 0.12093908432571038]
[0, 'curang', 2, 14, 0.14285714285714285, 3, 1, 1.6931471805599454, 0.24187816865142076]
[0, 'nya', 1, 14, 0.07142857142857142, 3, 1, 1.6931471805599454, 0.12093908432571038]
[0, 'uu', 1, 14, 0.07142857142857142, 3, 2, 1.2876820724517808, 0.09197729088941291]
[1, 'kamu', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[1, 'waras', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[1, 'pindah', 1, 9, 0.1111111111111111, 3, 2, 1.2876820724517808, 0.14307578582797564]
[1, 'kota', 1, 9, 0.1111111111111111, 3, 2, 1.2876820724517808, 0.14307578582797564]
[1, 'ayo', 1, 9, 0.1111111111111111, 3, 2, 1.2876820724517808, 0.14307578582797564]
[1, 'tolak', 2, 9, 0.2222222222222222, 3, 2, 1.2876820724517808, 0.2861515716559513]
[1, 'uu', 1, 9, 0.1111111111111111, 3, 2, 1.2876820724517808, 0.14307578582797564]
[1, 'ikn', 1, 9, 0.1111111111111111, 3, 2, 1.2876820724517808, 0.14307578582797564]
[2, 'alas', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[2, 'masyarakat', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[2, 'aras', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[2, 'pindah', 1, 9, 0.1111111111111111, 3, 2, 1.2876820724517808, 0.14307578582797564]
[2, 'kota', 1, 9, 0.1111111111111111, 3, 2, 1.2876820724517808, 0.14307578582797564]
[2, 'negara', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[2, 'satu', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[2, 'nusantara', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]
[2, 'jaya', 1, 9, 0.1111111111111111, 3, 1, 1.6931471805599454, 0.1881274645066606]

In [12]:
# convert TF data into a dataframe for more view options
import pandas as pd

list_example_tfidf=[calculate_example_tfidf_adjusted(
    indx
    ,t
    ,tc
    ,list_example_term_tt[indx]
    ,example_n
    ,counter_example_term_df[t])
for indx,document in enumerate(list_example_term_tc) for t,tc in document]


df_example_tf=pd.DataFrame(list_example_tfidf
                           ,columns=['di','t','tc','tt','tf','n','df','idf','tfidf'])

df_example_tf

    di           t  tc  tt        tf  n  df       idf     tfidf
0    0         ayo   1  14  0.071429  3   2  1.287682  0.091977
1    0       tolak   2  14  0.142857  3   2  1.287682  0.183955
2    0      proyek   1  14  0.071429  3   1  1.693147  0.120939
3    0         ikn   2  14  0.142857  3   2  1.287682  0.183955
4    0        buka   1  14  0.071429  3   1  1.693147  0.120939
5    0     peluang   1  14  0.071429  3   1  1.693147  0.120939
6    0    oligarki   1  14  0.071429  3   1  1.693147  0.120939
7    0        main   1  14  0.071429  3   1  1.693147  0.120939
8    0      curang   2  14  0.142857  3   1  1.693147  0.241878
9    0         nya   1  14  0.071429  3   1  1.693147  0.120939
10   0          uu   1  14  0.071429  3   2  1.287682  0.091977
11   1        kamu   1   9  0.111111  3   1  1.693147  0.188127
12   1       waras   1   9  0.111111  3   1  1.693147  0.188127
13   1      pindah   1   9  0.111111  3   2  1.287682  0.143076
14   1        kota   1   9  0.111111  3   2  1.287682  0.143076
15   1         ayo   1   9  0.111111  3   2  1.287682  0.143076
16   1       tolak   2   9  0.222222  3   2  1.287682  0.286152
17   1          uu   1   9  0.111111  3   2  1.287682  0.143076
18   1         ikn   1   9  0.111111  3   2  1.287682  0.143076
19   2        alas   1   9  0.111111  3   1  1.693147  0.188127
20   2  masyarakat   1   9  0.111111  3   1  1.693147  0.188127
21   2        aras   1   9  0.111111  3   1  1.693147  0.188127
22   2      pindah   1   9  0.111111  3   2  1.287682  0.143076
23   2        kota   1   9  0.111111  3   2  1.287682  0.143076
24   2      negara   1   9  0.111111  3   1  1.693147  0.188127
25   2        satu   1   9  0.111111  3   1  1.693147  0.188127
26   2   nusantara   1   9  0.111111  3   1  1.693147  0.188127
27   2        jaya   1   9  0.111111  3   1  1.693147  0.188127